<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Northern Realms Deck</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="fancybox/lib/jquery-1.10.1.min.js"></script>
		<link rel="stylesheet" href="fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
		<script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js"></script>
		
		<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js"></script>

		<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
		
		<link href="css/typestylesheet.css" rel="stylesheet">	
		<script type="text/javascript" src="js/Animation.js"></script>			
	</head>
	
	<body>
		<!-- Loading screen -->
		<div class="loader-wrap">
			<div class="loader">
				<div class="can-1 box"></div>
				<div class="can-2 box"></div>
				<div class="can-3 box"></div>
				<div class="can-4 box"></div>
				<div class="can-5 box"></div>
			</div>
		</div>
		
		<div class="container no-flickr">
			<ul class="row no-flickr">
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Ballista 1-l.png">
										<img class="img-responsive no-flickr " src="img/Northern Realms/Ballista 1.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>

				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Ballista 1-l.png">
										<img class="img-responsive no-flickr " src="img/Northern Realms/Ballista 2.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Blue Stripes Commando 1-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Blue Stripes Commando 1.png">
									</a>
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Catapult 1-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Catapult 1.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Crinfrid Reavers Dragon Hunter 1-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Crinfrid Reavers Dragon Hunter 1.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Dethmold-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Dethmold.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Dun Banner Medic-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Dun Banner Medic.png">
									</a>
								</div>
							</div>
						</div>		
					</div>	
				</li>

				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Esterad Thyssen-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Esterad Thyssen.png">
									</a>
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Foltest King of Temeria-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Foltest King of Temeria.png">
									</a>
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Foltest Lord Commander of the North-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Foltest Lord Commander of the North.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>

				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Foltest the Siegemaster-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Foltest the Siegemaster.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>

				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Foltest the Steel-Forged-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Foltest the Steel-Forged.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>

				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/John Natalis-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/John Natalis.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Kaedweni Siege Expert 1-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Kaedweni Siege Expert 1.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>

				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Kaedweni Siege Expert 2-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Kaedweni Siege Expert 2.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>

				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Kaedweni Siege Expert 3-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Kaedweni Siege Expert 3.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>

				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Northern Realms/Keira Metz-l.png">
										<img class="img-responsive no-flickr" src="img/Northern Realms/Keira Metz.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Poor Infantry-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Poor Infantry.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Radanian Soldier 1-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Radanian Soldier 1.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Radanian Soldier 2-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Radanian Soldier 2.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Sabrina-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Sabrina.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Sheldon Skaggs-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Sheldon Skaggs.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Siege Expert-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Siege Expert.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Siegfried-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Siegfried.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Sigismund-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Sigismund.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Sile-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Sile.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Stennis-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Stennis.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Thaler-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Thaler.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Trebuchet 1-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Trebuchet 1.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Trebuchet 2-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Trebuchet 2.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Vernon Roche-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Vernon Roche.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Ves-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Ves.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/NorthernRealm Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/NorthernRealm/Yarpen-l.png">
										<img class="img-responsive no-flickr" src="img/NorthernRealm/Yarpen.png">	
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>				
			</ul>
		</div>		
	</body>
</html>