<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Special Cards</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="fancybox/lib/jquery-1.10.1.min.js"></script>
		<link rel="stylesheet" href="fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
		<script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js"></script>
		
		<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js"></script>

		<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
		
		<link href="css/typestylesheet.css" rel="stylesheet">	
		<script type="text/javascript" src="javascript/Animation.js"></script>	
	</head>
	
	<body>
		<!-- Loading screen -->
		<div class="loader-wrap">
			<div class="loader">
				<div class="can-1 box"></div>
				<div class="can-2 box"></div>
				<div class="can-3 box"></div>
				<div class="can-4 box"></div>
				<div class="can-5 box"></div>
			</div>
		</div>
		
		<div class="container no-flickr">
			<ul class="row no-flickr">
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/Special Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Special/Biting Frost-l.png">
										<img class="img-responsive no-flickr " src="img/Special/Biting Frost.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/Special Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Special/Clear Weather-l.png">
										<img class="img-responsive no-flickr" src="img/Special/Clear Weather.png">
									</a>
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/Special Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Special/Commanders Horn-l.png">
										<img class="img-responsive no-flickr" src="img/Special/Commanders Horn.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/Special Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Special/Decoy-l.png">
										<img class="img-responsive no-flickr" src="img/Special/Decoy.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/Special Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Special/Impenetrable Fog-l.png">
										<img class="img-responsive no-flickr" src="img/Special/Impenetrable Fog.png">
									</a>	
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/Special Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Special/Scorch-l.png">
										<img class="img-responsive no-flickr" src="img/Special/Scorch.png">
									</a>
								</div>
							</div>
						</div>		
					</div>	
				</li>
				
				<li class="no-flickr col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="clearfix">
						<div class="f1_container hvr-float-shadow">
							<div class="f1_card">
								<div class="front face">
									<img class="img-responsive no-flickr" src="img/Back of Cards/Special Back.png">
								</div>
								<div class="back face">
									<a class="fancybox" rel="gallery" href="img/Special/Torrential Rain-l.png">
										<img class="img-responsive no-flickr" src="img/Special/Torrential Rain.png">
									</a>
								</div>
							</div>
						</div>		
					</div>	
				</li>
			</ul>	
		</div>
		
	</body>

</html>